
<h1>{{b}}</h1> 
{{!-- {{#each b}} <img src="{{b.imageURL}}" alt="">{{/each}} --}}
{{#each b}} 'http://res.cloudinary.com/wolfmarcos/image/upload/v1630412615/o00n5qgmlkm26npaaqf6.jpg'<img src={{b}} alt=""> {{/each}}